# PostgreSQL
DB_HOST=localhost

POSTGRES_DB=marketplaceFigurinhas
POSTGRES_USER=marketplace
POSTGRES_PASSWORD=(ALTERAR_senha)
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=marketplace
RABBITMQ_PASSWORD=(ALTERAR_senha_rabbitMQ)
RABBITMQ_VHOST=marketplace
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672